<!DOCTYPE html>
<html>
<head><%- include ('partials/template/head.ejs') -%></head>
<body id="<%= pageID %>">
<%- include ('partials/template/navigation.ejs') -%>
<div class="container top-margin-main-content">
    <div class="row">
        <div class="col-sm-8">
            <%- include ('partials/content/home.ejs') -%>
        </div><!-- primary -->
        <aside class="col-sm-4">
            <%- include ('partials/content/right_content_1.ejs') -%>
            <%- include ('partials/content/right_content_2.ejs') -%>
        </aside><!-- secondary -->
    </div>
</div><!-- container -->
<%- include ('partials/template/commons.ejs') -%>
</body>
</html>
